version: "3.9"
services:
    web:
        build : . # (1)
        labels:
            - "traefik.http.routers.web.rule=PathPrefix(`/`)"
            - "traefik.http.middlewares.web.stripPrefix.prefixes=/"
            - "traefik.http.routers.web.middlewares=web@docker"
        deploy:
            replicas: 3

    traefik:
        image: traefik:2.5
        restart: unless-stopped
        ports:
            - "80:80"
            - "8080:8080"
            - "8082:8082"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./traefik.toml:/traefik.toml

    prometheus:
        image: prom/prometheus:v2.10.0
        container_name: prometheus
        volumes:
            - ./prometheus/:/etc/prometheus/
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
        ports:
            -   "9090:9090"
        labels:
            - "traefik.docker.network=traefik"
            - "traefik.backend=prometheus"
            - "traefik.frontend.rule=Host:prometheus.localhost"
            - "traefik.port=9090"

    grafana:
        image: grafana/grafana
        ports:
            -   "3000:3000"
